@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Newsreader:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.Login{
    height: 100vh;
}

.Login-box{
    width: 400px;
    height: 350px;
    background-color: #009688;

    border-radius: 6px;
    flex-direction: column;
}

.Login, .Login-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login-box-formbox{
    display: block;
    flex-direction: column;
}

.Login-box-username,
.Login-box-password,
.Login-submit{
    font-family: 'Josefin Sans', sans-serif;
}

.Login-box-username,
.Login-box-password{
    font-size: 1.1em;
    color:antiquewhite;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 4px;
}

.Login-submit{
    display: block;
    margin: 12px auto;
    background-color: aliceblue;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.Login-username-input,
.Login-password-input{
    width: 250px;
    border-radius: 6px;
    padding: 5px 4px 5px 4px;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
}